<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        form {
            height: 30vh;
            width: 50%;
            justify-content: center;
            align-content: center;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>

<body>



    <h1>Get & Post Req</h1>

    <h3>Get</h3>

    <form action="/user" method="GET">

        <input type="text" name="username" placeholder=" Enter Username">
        <br> <br>
        <input type="number" name="age" id="" placeholder=" Enter Age">
        <br>
        <br>

        <button> Submit</button>

    </form>


    <br>
    <br>
    <h3>Post</h3>
    <form action="/user" method="post">

        <input type="text" name="username" placeholder="Username">
        <br>
        <br>
        <input type="number" name="age" id="" placeholder="Age">
        <br> <br>

        <button> Submit</button>

    </form>
</body>

</html>